{% assign comments = site.data.comments[page.slug]%} {% for comment in comments %} {{comment}}
<article class="art-comment">
    <div class="comment__content-wrapper">
        <h3 class="comment__name">
            <span>{{comment[1].name}}</span>
        </h3>
        <div class="comment__date">
            <a href="#comment1" itemprop="url">
                <time>{{comment[1].date | date: "%Y년 %m월 %d일"}}</time>
            </a>
        </div>
        <div class="comment-message"><p>{{comment[1].message}}</p></div>
    </div>
</article>

{% endfor %}
