<div class="art-comments-container">
    <h3>작품 감상집</h3>
    <div class="art-comments-wrap">
        {% assign comments = site.data.comments[page.slug]%} {% for comment in comments %}
        <div class="art-comment">
            <div class="art-comment-feeling">
                <span class="{{comment[1].feeling}}-comment">{{comment[1].feeling}}</span>
                <span class="art-number">작품_{{comment[1].art}}</span>
            </div>
            <div class="art-comment-message">
                <span class="{{comment[1].feeling}}-message">{{comment[1].message}}</span>
            </div>
            <div class="art-commenter-info">
                <div class="comment-name">
                    <span>{{comment[1].name}}</span>
                </div>
                <div class="comment-date">
                    <a href="#comment1" itemprop="url">
                        <time>{{comment[1].date | date: "%Y년 %m월 %d일"}}</time>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
