* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Noto Sans KR";
    src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
    unicode-range: U+AC00-D7A3, U+0030-0039;
}
@font-face {
    font-family: "Open Sans";
    src: url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
    unicode-range: U+0041-005A, U+0061-007A;
}
html,
body {
    font-family: "Open Sans", "Noto Sans KR", sans-serif;
    color: #0a0a0a;
    background-color: #fdf1d7;
}
a {
    text-decoration: none;
    color: black;
}
li,
ul {
    list-style: none;
}
fieldset {
    border: none;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    max-width: 1200px;
    margin: 0 auto;
}
.home-container {
    width: 100%;
    height: 100%;
    background-color: #fdf1d7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-page-wrap {
    width: 100%;
    height: 100%;
}
.poster-image-container {
    width: 850px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.poster-image-container .home-poster {
    width: 100%;
    height: 100%;
}
.poster-image-container .step-image {
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
}
.poster-image-container .poster-door {
    position: absolute;
    left: 360px;
    top: 468px;
    width: 120px;
    height: 160px;
    /* border: solid #fdf1d7 3px; */
    z-index: 2;
    overflow: hidden;
    transform-origin: 100%;
    animation: door 12s ease-in-out infinite;
}
.poster-image-container .door-inside {
    position: absolute;
    left: 360px;
    top: 468px;
    width: 120px;
    height: 160px;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    background-color: #fdf1d7;
    box-shadow: inset 0px -0.5px 2px 2px #141414;
}
.poster-image-container .door-inside a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.poster-image-container .door-inside a img {
    width: 100%;
    margin: auto 0;
}
.poster-image-container .door-inside a div {
    width: 100%;
    text-align: center;
}
.poster-image-container .poster-door img {
    width: 850px;
    height: 1080px;

    position: relative;
    left: -360px;
    top: -468px;
}
.poster-image-container .poster-door .poster-door-handle {
    width: 10px;
    height: 10px;
    border-radius: 80%;
    background-color: #fdf1d7;

    position: relative;
    left: 10px;
    top: 80px;

    z-index: 2;
}
.poster-image-container .step-1 {
    /* opacity: 0; */
    visibility: hidden;
    animation: step1 12s ease-in-out infinite;
}
.poster-image-container .step-2 {
    /* opacity: 0; */
    visibility: hidden;

    animation: step2 12s ease-in-out infinite;
}
.poster-image-container .step-3 {
    /* opacity: 0; */
    visibility: hidden;

    animation: step3 12s ease-in-out infinite;
}
.poster-image-container .step-4 {
    /* opacity: 0; */
    visibility: hidden;

    animation: step4 12s ease-in-out infinite;
}
.poster-image-container .step-5 {
    /* opacity: 0; */
    visibility: hidden;

    animation: step5 12s ease-in-out infinite;
}
.poster-image-container .step-6 {
    /* opacity: 0; */
    visibility: hidden;

    animation: step6 12s ease-in-out infinite;
}
@keyframes step1 {
    from {
        /* opacity: 0; */
        visibility: hidden;
    }
    6.25% {
        /* opacity: 1; */
        visibility: visible;
    }
    12.5% {
        visibility: hidden;
        /* opacity: 0; */
    }
}
@keyframes step2 {
    from {
        /* opacity: 0; */
        visibility: hidden;
    }
    6.25% {
        /* opacity: 0; */
        visibility: hidden;
    }
    12.5% {
        /* opacity: 1; */
        visibility: visible;
    }
    18.75% {
        /* opacity: 0; */
        visibility: hidden;
    }
}
@keyframes step3 {
    from {
        /* opacity: 0; */
        visibility: hidden;
    }
    12.5% {
        /* opacity: 0; */
        visibility: hidden;
    }
    18.75% {
        /* opacity: 1; */
        visibility: visible;
    }
    25% {
        /* opacity: 0; */
        visibility: hidden;
    }
}
@keyframes step4 {
    from {
        /* opacity: 0; */
        visibility: hidden;
    }
    18.75% {
        /* opacity: 0; */
        visibility: hidden;
    }
    25% {
        /* opacity: 1; */
        visibility: visible;
    }
    31.25% {
        /* opacity: 0; */
        visibility: hidden;
    }
}
@keyframes step5 {
    from {
        /* opacity: 0; */
        visibility: hidden;
    }
    25% {
        /* opacity: 0; */
        visibility: hidden;
    }
    31.25% {
        /* opacity: 1; */
        visibility: visible;
    }
    37.5% {
        /* opacity: 0; */
        visibility: hidden;
    }
}

@keyframes step6 {
    from {
        /* opacity: 0; */
        visibility: hidden;
    }
    31.25% {
        /* opacity: 0; */
        visibility: hidden;
    }
    37.5% {
        /* opacity: 1; */
        visibility: visible;
    }
    43.75% {
        /* opacity: 0; */
        visibility: hidden;
    }
}
@keyframes door {
    from {
        transform: rotateY(0);
    }
    31.25% {
        transform: rotateY(0);
    }
    80% {
        transform: perspective(1000px) rotateY(100deg);
    }
    to {
        transform: rotateY(0);
    }
}

.main-header {
    width: 100%;
    height: 100px;
}
.nav-wrap {
    width: 100%;
    height: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #eac881;
    border-bottom: 3px solid #eac881;
}
.nav-container {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.author-contact a {
    font-size: 23px;
    font-weight: 400;
    cursor: pointer;
}
.author-contact a:hover {
    font-weight: 800;
    text-decoration: underline;
}
.nav-container .nav-item {
    margin-right: 100px;
}
.nav-container .nav-item a {
    font-size: 23px;
    font-weight: 400;
}
.nav-container .nav-item a:hover {
    font-weight: 800;
    text-decoration: underline;
}
.footer-wrap {
    width: 100%;
    margin-top: 50px;

    padding: 50px;
    border-top: 3px #eac881 solid;
    border-bottom: 3px #eac881 solid;
    display: flex;
}
.footer-wrap .author-info {
    margin-right: 50px;
}
.footer-wrap .author-info h3 {
    margin-bottom: 10px;
}
.footer-wrap .author-description h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}
.footer-wrap .author-description {
    font-size: 22px;
    font-weight: 500;
}
.loadmap {
    position: relative;
    width: 1200px;
    height: 900px;
    margin-top: 50px;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
}
.loadmap-image {
    width: 1200px;
    height: 900px;
    border: #eac881 solid 3px;
    position: relative;
}
.loadmap-image div {
    position: absolute;
    z-index: 30;
}
.loadmap-image div a {
    z-index: 30;
}
.loadmap-image img {
    width: 120px;
    height: 100%;
    z-index: 30;
}
.loadmap-image .route {
    position: absolute;
    top: 0;
    left: 0;
    width: 1200px;
    height: 900px;
    z-index: 10;
    overflow: hidden;
}
.loadmap-image > div:hover > a > img {
    animation: zoomImage 1s infinite ease-in-out;
}
.loadmap-image > div > a > div {
    position: absolute;
}
@keyframes zoomImage {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: translateX(1);
    }
}
.loadmap-image > .art-th-1 {
    right: 150px;
    bottom: 210px;
}

.loadmap-image > .art-th-2 {
    right: 50px;
    top: 250px;
}
.loadmap-image > .art-th-3 {
    right: 50px;
    top: 50px;
    transform: rotate(90deg);
}
.loadmap-image > .art-th-4 {
    left: 430px;
    top: 40px;
}
.loadmap-image > .art-th-5 {
    left: 550px;
    top: 270px;
}
.loadmap-image > .art-th-6 {
    left: 350px;
    top: 320px;
}
.loadmap-image > .art-th-7 {
    left: 40px;
    bottom: 50px;
}
.loadmap-image > .art-th-8 {
    left: 450px;
    bottom: 50px;
}
.loadmap-image > .wall-1 {
    position: absolute;
    width: 25px;
    height: 200px;
    border: 1px #e6dbc3 solid;
    background-color: #e6dbc3;
    right: 400px;
    bottom: 0;
}
.loadmap-image > .wall-2 {
    position: absolute;
    width: 150px;
    height: 25px;
    border: 1px #e6dbc3 solid;
    background-color: #e6dbc3;
    right: 150px;
    bottom: 300px;
}

.loadmap-image > .wall-4 {
    position: absolute;
    width: 25px;
    height: 60px;
    border: 1px #e6dbc3 solid;
    background-color: #e6dbc3;
    right: 400px;
    top: 0;
}
.loadmap-image > .wall-5 {
    position: absolute;
    width: 25px;
    height: 85px;
    border: 1px #e6dbc3 solid;
    background-color: #e6dbc3;
    right: 400px;
    top: 150px;
}
.loadmap-image > .wall-6 {
    position: absolute;
    width: 600px;
    height: 25px;
    border: 1px #e6dbc3 solid;
    background-color: #e6dbc3;
    right: 400px;
    top: 210px;
}
.loadmap-image > .wall-7 {
    position: absolute;
    width: 25px;
    height: 235px;
    border: 1px #e6dbc3 solid;
    background-color: #e6dbc3;
    left: 190px;
    top: 0;
}
.loadmap-image > .wall-8 {
    position: absolute;
    width: 25px;
    height: 400px;
    border: 1px #e6dbc3 solid;
    background-color: #e6dbc3;
    left: 190px;
    bottom: 0;
}
.art-index-wrap {
    width: 100%;
    height: 100%;
    padding-top: 50px;
}
.art-image {
    margin-bottom: 50px;
}

.art-index-wrap img {
    width: 100%;
    height: 100%;
}
.art-content {
    width: 100%;
    display: flex;
}
.art-content .art-summary-content {
    flex: 1;
}
.art-summary-content > ul {
    margin-bottom: 20px;
}
.art-summary-content > ul > p {
    opacity: 0.5;
    font-weight: 400;
    line-height: 30px;
}
.art-summary-content > ul > li {
    font-weight: 400;
    line-height: 25px;
}
.art-content .art-detail-content {
    flex: 3;
}

.art-detail-content h1 {
    margin-bottom: 30px;
}
.art-detail-content p {
    line-height: 30px;
}
.other-arts {
    margin: 100px 0;
}
.other-arts > div {
    width: 100px;
    height: 50px;
    border: 3px solid #eac881;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
.other-arts > div:hover {
    background-color: #eac881;
    font-weight: 600;
    text-decoration: underline;
}
.other-arts .prev-btn {
    float: left;
}
.other-arts .next-btn {
    float: right;
}
.comment-wrap {
    margin-top: 250px;
    border: 3px #eac881 solid;
    padding: 50px;
}
#comment-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#comment-form .comment-contents {
    width: 60%;
}
#comment-form .comment-feeling-form {
    width: 40%;
    flex: 2;
}
.comment-feeling-buttons-wrap {
    margin-top: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}
.comment-feeling-buttons-wrap button {
    width: 120px;
    height: 60px;
    margin-bottom: 15px;
    border: 3px solid #eac881;
    border-radius: 30px;
    cursor: pointer;
    margin-right: 20px;
}
.comfortable {
    background-color: #178f3d;
}
.interest {
    background-color: #ffd702;
}
.excited {
    background-color: #018c82;
}
.sad {
    background-color: #2e62a8;
}
.lonely {
    background-color: #e68138;
}
.afraid {
    background-color: #c42a2f;
}
.comfortable:hover {
    opacity: 0.8;
}
.interest:hover {
    opacity: 0.8;
}
.excited:hover {
    opacity: 0.8;
}
.sad:hover {
    opacity: 0.8;
}
.lonely:hover {
    opacity: 0.8;
}
.afraid:hover {
    opacity: 0.8;
}
.comment-contents-form {
    flex: 3;
    width: 100%;
    display: flex;
    flex-flow: column;
}
.comment-contents-form > div:first-child {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}
.comment-contents-form > div:first-child > label {
    margin-right: 20px;
}
.comment-contents-form div:first-child > .commenter-info {
    display: flex;
}
.comment-contents-form div:first-child > .commenter-info > div {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.comment-contents-form div:first-child > .commenter-info > div > label {
    margin-right: 10px;
}
.comment-contents-form div:first-child > .commenter-info > div > input {
    padding: 10px;
    border: 3px solid #eac881;
    border-radius: 15px;
    background-color: transparent;
}
.comment-contents-form div:last-child {
    display: flex;
    align-items: flex-end;
}
.comment-contents-form div:last-child > textarea {
    width: 85%;
    height: 120px;
    padding: 10px;
    border: 3px solid #eac881;
    border-radius: 15px;
    background-color: transparent;
    margin-right: 20px;
}
.comment-contents-form div:last-child > div > button {
    width: 70px;
    height: 70px;
    background-color: transparent;
    border: 3px solid #eac881;
    border-radius: 10px;
    font-weight: 600;
    margin-top: 30px;
}
.comment-contents-form div:last-child > div > button:hover {
    background-color: #eac881;
    font-weight: 700;
    text-decoration: underline;
}
.clicked {
    opacity: 0.5;
}
.art-comments-wrap {
    margin-top: 50px;
    border: 3px solid #eac881;
    padding: 50px;
}

@media (max-width: 1280px) {
    .container {
        padding: 0;
        max-width: 600px;
    }
    .poster-image-container {
        width: 100%;
    }
    .poster-image-container .poster-door {
        left: 255px;
        top: 323px;
        width: 90px;
        height: 120px;
    }
    .poster-image-container .poster-door img {
        left: -340px;
        top: -430px;
    }
    .poster-image-container .door-inside {
        left: 255px;
        top: 323px;
        width: 90px;
        height: 120px;
    }
    .poster-image-container .door-inside a {
        padding: 30px 10px 10px 10px;
    }
    .poster-image-container .poster-door .poster-door-handle {
        width: 12px;
        height: 12px;
        left: 15px;
        top: 60px;
    }
    .nav-container {
        width: 100%;
        justify-content: space-between;
    }
    .nav-container .nav-item {
        margin-right: 20px;
    }
    .loadmap {
        width: 600px;
        margin: 10px 0;
    }
    .loadmap-image .route {
        left: 0;
    }
    .loadmap-image {
        left: -600px;
        z-index: 100;
        margin: 0 auto;
    }
    .art-content {
        flex-flow: column;
    }
    .art-summary-content {
        display: flex;
    }
    .art-summary-content ul {
        flex: 1;
    }
}

@media (max-width: 700px) {
    .container {
        padding: 0;
        max-width: 320px;
    }
    .poster-image-container {
        width: 100%;
    }
    .poster-image-container .poster-door {
        left: 132px;
        top: 156px;
        width: 60px;
        height: 80px;
    }
    .poster-image-container .door-inside {
        left: 132px;
        top: 156px;
        width: 60px;
        height: 80px;
    }
    .poster-image-container .door-inside a {
        padding: 10px;
    }
    .poster-image-container .poster-door .poster-door-handle {
        width: 8px;
        height: 8px;

        left: 10px;
        top: 38px;
    }
    .main-header {
        height: 80px;
    }
    .nav-wrap {
        padding: 0 15px;
    }
    .nav-container .nav-item {
        margin-right: 8px;
    }
    .nav-container .nav-item a {
        font-size: 18px;
    }
    .author-contact a {
        font-size: 18px;
    }
    .loadmap {
        width: 320px;
        height: 100%;
    }
    .loadmap-image .route {
        width: 960px;
        height: 720px;
        left: 0;
    }
    .loadmap-image {
        left: -640px;
        width: 960px;
        height: 720px;
    }
    .loadmap-image > .art-th-1 {
        right: 150px;
        bottom: 180px;
    }

    .loadmap-image > .art-th-2 {
        right: 50px;
        top: 230px;
    }
    .loadmap-image > .art-th-3 {
        right: 50px;
        top: 30px;
    }
    .loadmap-image > .art-th-4 {
        left: 350px;
        top: 40px;
    }
    .loadmap-image > .art-th-5 {
        left: 350px;
        top: 270px;
    }
    .loadmap-image > .art-th-6 {
        left: 200px;
        top: 280px;
    }
    .loadmap-image > .art-th-7 {
        left: 40px;
        bottom: 20px;
    }
    .loadmap-image > .art-th-8 {
        left: 350px;
        bottom: 20px;
    }
    .loadmap-image > .wall-1 {
        width: 25px;
        height: 200px;
        right: 400px;
        bottom: 0;
    }
    .loadmap-image > .wall-2 {
        width: 150px;
        height: 25px;
        right: 150px;
        bottom: 300px;
    }
    .loadmap-image > .wall-6 {
        width: 350px;
        height: 25px;
        right: 400px;
        top: 210px;
    }
    .loadmap-image > .wall-7 {
        width: 25px;
        height: 235px;
        left: 190px;
        top: 0;
    }
    .loadmap-image > .wall-8 {
        width: 25px;
        height: 250px;
        left: 190px;
        bottom: 0;
    }
    .footer-wrap {
        flex-flow: column;
        padding: 50px 10px;
    }
    .footer-wrap .author-info {
        margin-bottom: 30px;
    }
}
