---
---

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <!-- stylesheet -->
        <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
        <!-- site title setting -->
        <title>{{site.title}}{{site.title_separator}}{{site.subtitle}}</title>
        <!-- javasctipt -->
    </head>
    <body>
        <div class="container">
            {% include header.html %}

            <main class="main-container">{{content}}</main>
            {% include footer.html %}
        </div>
        <script src="{{'/assets/js/main.js'|relactive_url}}"></script>
    </body>
</html>
