---
layout: default
---

<div class="home-page-wrap">
    <div class="poster-image-container">
        <img class="home-poster" src="/assets/images/home_poster.png" />
        <img class="step-image step-1" src="/assets/images/inxside_step_1.PNG" />
        <img class="step-image step-2" src="/assets/images/inxside_step_2.PNG" />
        <img class="step-image step-3" src="/assets/images/inxside_step_3.PNG" />
        <img class="step-image step-4" src="/assets/images/inxside_step_4.PNG" />
        <img class="step-image step-5" src="/assets/images/inxside_step_5.PNG" />
        <img class="step-image step-6" src="/assets/images/inxside_step_6.PNG" />
    </div>
</div>
