---
layout: default
---

<div class="home-page-wrap">
    <div class="poster-image-container">
        <img class="home-poster" src="assets/images/home_poster.png" alt="전시 포스터" />
        <img class="step-image step-1" src="assets/images/inxside_step_1.PNG" alt="발자국 1" />
        <img class="step-image step-2" src="assets/images/inxside_step_2.PNG" alt="발자국 2" />
        <img class="step-image step-3" src="assets/images/inxside_step_3.PNG" alt="발자국 3" />
        <img class="step-image step-4" src="assets/images/inxside_step_4.PNG" alt="발자국 4" />
        <img class="step-image step-5" src="assets/images/inxside_step_5.PNG" alt="발자국 5" />
        <img class="step-image step-6" src="assets/images/inxside_step_6.PNG" alt="발자국 6" />
        <div class="poster-door">
            <div class="poster-door-handle"></div>
            <img src="assets/images/home_poster.png" alt="문 색상" />
        </div>
    </div>
</div>
